# 7.2 Data Transformation
## Detecting and Filtering Outliers

In [356]:
import numpy as np
import pandas as pd

In [357]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.050974     0.014706     0.005708    -0.036200
std       0.996084     0.999874     0.994908     0.991380
min      -3.645860    -3.184377    -3.745356    -3.428254
25%      -0.600254    -0.617533    -0.657370    -0.731020
50%       0.056212    -0.026392    -0.012007    -0.080713
75%       0.760962     0.679396     0.680673     0.622384
max       2.653656     3.525865     2.735527     3.366626

In [358]:
col = data[2]
col

0      0.000369
1      1.129120
2     -1.397820
3     -1.263437
4      0.513393
5     -0.178355
6      0.156632
7     -0.486323
8     -0.360410
9     -0.093100
10     2.616101
11    -0.676853
12    -0.502827
13     0.680397
14     0.473505
15    -1.100570
16    -0.674560
17    -0.994480
18     0.543406
19    -0.313704
20    -0.900887
21     0.947681
22     0.090325
23     0.139845
24     0.604578
25    -0.124668
26    -1.596128
27    -0.319537
28    -0.571681
29     1.060941
         ...
970    0.246231
971    0.054856
972    0.653339
973    1.854922
974    0.005182
975    0.668397
976   -1.512690
977    0.712390
978   -0.699837
979   -1.018323
980   -0.777942
981    0.892854
982    0.450832
983    1.416312
984    1.422611
985    0.705443
986    0.871587
987   -0.284841
988    0.720206
989   -0.096805
990   -1.163720
991   -0.527668
992   -2.121482
993   -0.987719
994    0.175361
995   -1.315935
996   -0.280699
997   -0.559406
998   -0.597871
999   -0.895591
Name: 2, Length: 1000, dtype: float64

In [359]:
col[np.abs(col) > 3]

124   -3.399312
219   -3.745356
Name: 2, dtype: float64

In [360]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
124  0.457246 -0.025907 -3.399312 -0.974657
143  1.951312  3.260383  0.963301  1.201206
219  0.508391 -0.196713 -3.745356 -1.520113
318 -0.242459 -3.056990  1.918403 -0.578828
341  0.682841  0.326045  0.425384 -3.428254
405  1.179227 -3.184377  1.369891 -1.074833
627 -3.548824  1.553205 -2.186301  1.277104
718 -0.578093  0.193299  1.397822  3.366626
865 -0.207434  3.525865  0.283070  0.544635
886 -3.645860  0.255475 -0.549574 -1.907459

In [361]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.052169     0.014161     0.006852    -0.036138
std       0.992051     0.996599     0.991078     0.988811
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.600254    -0.617533    -0.657370    -0.731020
50%       0.056212    -0.026392    -0.012007    -0.080713
75%       0.760962     0.679396     0.680673     0.622384
max       2.653656     3.000000     2.735527     3.000000

In [362]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0  1.0  1.0
1 -1.0 -1.0  1.0  1.0
2 -1.0  1.0 -1.0  1.0
3 -1.0 -1.0 -1.0  1.0
4 -1.0 -1.0  1.0  1.0

## Permutation and Random Sampling

In [363]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [364]:
sampler = np.random.permutation(5)
sampler

array([0, 2, 3, 4, 1])

In [365]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [366]:
df.take(sampler)

    0   1   2   3
0   0   1   2   3
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
1   4   5   6   7

In [367]:
df.sample(n=3)

    0   1   2   3
4  16  17  18  19
3  12  13  14  15
2   8   9  10  11

In [368]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

1    7
0    5
3    6
3    6
3    6
0    5
1    7
3    6
0    5
2   -1
dtype: int64

## Computing Indicator/Dummy Variables

In [369]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [370]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [371]:
dummies = pd.get_dummies(df['key'], prefix='key')
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [372]:
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [373]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('datasets/movielens/movies.dat',
                       sep='::',
                       header=None,
                       names=mnames,
                       engine ='python')
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [374]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
all_genres

['Animation',
 "Children's",
 'Comedy',
 'Adventure',
 "Children's",
 'Fantasy',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Romance',
 'Adventure',
 "Children's",
 'Action',
 'Action',
 'Adventure',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Horror',
 'Animation',
 "Children's",
 'Drama',
 'Action',
 'Adventure',
 'Romance',
 'Drama',
 'Thriller',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Action',
 'Action',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Thriller',
 'Drama',
 'Sci-Fi',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Drama',
 'Drama',
 'Sci-Fi',
 'Adventure',
 'Romance',
 "Children's",
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Documentary',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'War',
 'Action',
 'Crime',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Crime',
 'Thriller',
 'Animation',
 "Children's",
 'Musical',
 'Romance',
 'Drama',
 'Romance',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Drama',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Mystery',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Thriller',
 'Drama',
 'Comedy',
 'Comedy',
 'Romance',
 'Comedy',
 'Sci-Fi',
 'Thriller',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Action',
 'Comedy',
 'Crime',
 'Horror',
 'Thriller',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Musical',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Documentary',
 'Drama',
 'Drama',
 'Thriller',
 'Drama',
 'Crime',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Adventure',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Action',
 'Thriller',
 'Drama',
 'Drama',
 'Thriller',
 'Comedy',
 'Romance',
 'Drama',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Action',
 'Thriller',
 'Documentary',
 'Drama',
 'Thriller',
 'Comedy',
 'Comedy',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Adventure',
 "Children's",
 'Comedy',
 'Musical',
 'Documentary',
 'Comedy',
 'Action',
 'Drama',
 'War',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Drama',
 'Mystery',
 'Drama',
 'Comedy',
 'Documentary',
 'Crime',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Mystery',
 'Romance',
 'Drama',
 'Comedy',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Documentary',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Drama',
 'Documentary',
 'Comedy',
 'Documentary',
 'Documentary',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Action',
 'Adventure',
 "Children's",
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'War',
 'Horror',
 'Action',
 'Adventure',
 'Comedy',
 'Crime',
 'Drama',
 'Drama',
 'War',
 'Comedy',
 'Comedy',
 'War',
 'Adventure',
 "Children's",
 'Drama',
 'Action',
 'Adventure',
 'Mystery',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'War',
 'Documentary',
 'Action',
 'Romance',
 'Thriller',
 'Crime',
 'Film-Noir',
 'Mystery',
 'Thriller',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Drama',
 'Romance',
 'Adventure',
 "Children's",
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 "Children's",
 'Drama',
 'Romance',
 'Thriller',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Comedy',
 'Horror',
 'Comedy',
 'Thriller',
 'Drama',
 'Documentary',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Horror',
 'Sci-Fi',
 'Drama',
 'Action',
 'Crime',
 'Sci-Fi',
 'Drama',
 'Musical',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Documentary',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Drama',
 'Western',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Horror',
 'Drama',
 'Romance',
 'Comedy',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Thriller',
 'Thriller',
 'Action',
 'Comedy',
 'Drama',
 'Thriller',
 'Drama',
 'Thriller',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Romance',
 'Adventure',
 "Children's",
 'Animation',
 "Children's",
 'Comedy',
 'Romance',
 'Thriller',
 "Children's",
 'Drama',
 'Drama',
 'Musical',
 'Comedy',
 'Animation',
 "Children's",
 'Crime',
 'Drama',
 'Documentary',
 'Drama',
 'Fantasy',
 'Romance',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 "Children's",
 'Comedy',
 'Action',
 'Comedy',
 'Romance',
 'Drama',
 'Horror',
 'Drama',
 'Comedy',
 'Comedy',
 'Sci-Fi',
 'Mystery',
 'Thriller',
 'Adventure',
 "Children's",
 'Comedy',
 'Fantasy',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Fantasy',
 'Sci-Fi',
 'Drama',
 "Children's",
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'War',
 'Western',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Drama',
 'Horror',
 'Comedy',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Horror',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Thriller',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Romance',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Western',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Horror',
 'Thriller',
 'Comedy',
 'Animation',
 "Children's",
 'Drama',
 'Action',
 'Action',
 'Adventure',
 'Sci-Fi',
 "Children's",
 'Comedy',
 'Fantasy',
 'Drama',
 'Thriller',
 'Film-Noir',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Action',
 'Comedy',
 'Musical',
 'Sci-Fi',
 'Horror',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Horror',
 'Drama',
 'Horror',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'War',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Romance',
 'Adventure',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 "Children's",
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Musical',
 'Drama',
 'Comedy',
 'Action',
 'Adventure',
 'Thriller',
 'Drama',
 'Mystery',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Romance',
 'Thriller',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Romance',
 'War',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Drama',
 'Romance',
 'Adventure',
 "Children's",
 'Romance',
 'Documentary',
 'Animation',
 "Children's",
 'Musical',
 'Drama',
 'Horror',
 'Comedy',
 'Crime',
 'Fantasy',
 'Action',
 'Comedy',
 'Western',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 "Children's",
 'Comedy',
 'Drama',
 'Action',
 'Thriller',
 'Action',
 'Romance',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Horror',
 'Western',
 'Action',
 'Drama',
 'Drama',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'War',
 'Action',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Adventure',
 "Children's",
 'Action',
 'Action',
 'Drama',
 'Drama',
 'Horror',
 'Documentary',
 'Drama',
 'Drama',
 'Action',
 'Thriller',
 'Comedy',
 'Comedy',
 'Crime',
 'Drama',
 'Documentary',
 'Action',
 'Sci-Fi',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Comedy',
 'Comedy',
 'Thriller',
 'Western',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Action',
 'Comedy',
 'Adventure',
 "Children's",
 'Thriller',
 'Action',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'Horror',
 'Sci-Fi',
 'Thriller',
 'Mystery',
 'Romance',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 'Western',
 'Comedy',
 'Action',
 'Adventure',
 'Crime',
 'Comedy',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Action',
 'Sci-Fi',
 'Documentary',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Mystery',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Adventure',
 "Children's",
 'Drama',
 'Drama',
 'Action',
 'Thriller',
 'Drama',
 'Western',
 'Action',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'War',
 'Action',
 'Comedy',
 'War',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'War',
 'Action',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Action',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'Thriller',
 'Drama',
 'Adventure',
 "Children's",
 'Action',
 'Comedy',
 'Comedy',
 'Comedy',
 'Western',
 'Drama',
 'Comedy',
 'Thriller',
 'Drama',
 'Comedy',
 'Mystery',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Action',
 "Children's",
 'Drama',
 'Action',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Action',
 'Drama',
 'Horror',
 'Sci-Fi',
 'Comedy',
 'Mystery',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'War',
 'Action',
 'Drama',
 'Mystery',
 'Comedy',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'War',
 'Drama',
 'Drama',
 'Drama',
 "Children's",
 'Drama',
 'Comedy',
 'Crime',
 'Horror',
 'Action',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Thriller',
 'Film-Noir',
 'Sci-Fi',
 'Comedy',
 'Comedy',
 'Romance',
 'Thriller',
 'Action',
 'Drama',
 'Action',
 'Adventure',
 "Children's",
 'Sci-Fi',
 'Action',
 'Adventure',
 'Thriller',
 'Action',
 'Documentary',
 'Comedy',
 'Romance',
 "Children's",
 'Comedy',
 'Musical',
 'Action',
 'Adventure',
 'Comedy',
 'Western',
 'Thriller',
 'Action',
 'Crime',
 'Romance',
 'Documentary',
 'Drama',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Fantasy',
 'Comedy',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Adventure',
 "Children's",
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'Documentary',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 "Children's",
 'Comedy',
 'Comedy',
 'Romance',
 'Thriller',
 'Animation',
 "Children's",
 'Comedy',
 'Musical',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Adventure',
 ...]

In [375]:
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [376]:
zero_matrix = np.zeros((len(movies), len(genres)))
zero_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [377]:
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [378]:
gen = movies.genres[0]
gen

"Animation|Children's|Comedy"

In [379]:
gen.split('|')

['Animation', "Children's", 'Comedy']

In [380]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

In [381]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [382]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

In [383]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [384]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

# 7.3 String Manipulation
## String Object Methods

In [385]:
val = 'a,b,  guido'
val

'a,b,  guido'

In [386]:
val.split(',')

['a', 'b', '  guido']

In [387]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [388]:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [389]:
'::'.join(pieces)

'a::b::guido'

In [390]:
'guido' in val

True

In [391]:
val.index(',')

1

In [392]:
val.find(':')

-1

In [394]:
val.index(':')

ValueError: substring not found

In [395]:
val.count(',')

2

In [396]:
val.replace(',', '::')

'a::b::  guido'

In [397]:
val.replace(',', '')

'ab  guido'

## Regular Expressions

In [398]:
import re
text = "foo    bar\t baz  \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [399]:
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [400]:
regex.findall(text)

['    ', '\t ', '  \t']

In [401]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [402]:
m = regex.search(text)
m

In [403]:
text[m.start():m.end()]

'dave@google.com'

In [404]:
print(regex.match(text))

None

In [405]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [406]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

In [407]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [408]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

## Vectorized String Functions in pandas

In [409]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [410]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [411]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [412]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [413]:
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]
matches

Dave     (dave, google, com)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Wes                      NaN
dtype: object

In [414]:
matches.str.get(1)

Dave     google
Steve     gmail
Rob       gmail
Wes         NaN
dtype: object

In [415]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

In [418]:
data.str.extract(pattern, flags=re.IGNORECASE)

           0       1    2
Dave    dave  google  com
Steve  steve   gmail  com
Rob      rob   gmail  com
Wes      NaN     NaN  NaN

# Ch. 7 pt. 1 HW
## John
Practice with missing data
1. Create a DataFrame using
```python
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 10), columns= ['a','b','c','d','e','f','g','h','i','j'])
df.iloc[:7, 1:3] = NA
df.iloc[4:8, 5:8] = NA
df.iloc[:,9] = NA
df
```

In [419]:
from numpy import NAN as NA
df = pd.DataFrame(np.random.randn(10, 10), columns= ['a','b','c','d','e','f','g','h','i','j'])
df.iloc[:7, 1:3] = np.NAN
df.iloc[4:8, 5:8] = np.NAN
df.iloc[:,9] = np.NAN
df

,a,b,c,d,e,f,g,h,i,j
0,1.007189,NaN,NaN,0.228913,1.352917,0.886429,-2.001637,-0.371843,1.669025,NaN
1,-0.539741,NaN,NaN,-1.021228,-0.577087,0.124121,0.302614,0.523772,0.000940,NaN
2,-0.713544,NaN,NaN,-1.860761,-0.860757,0.560145,-1.265934,0.119827,-1.063512,NaN
3,-2.359419,NaN,NaN,-0.970736,-1.307030,0.286350,0.377984,-0.753887,0.331286,NaN
4,0.069877,NaN,NaN,1.004812,1.327195,NaN,NaN,NaN,0.758363,NaN
5,0.862580,NaN,NaN,0.670216,0.852965,NaN,NaN,NaN,-0.652469,NaN
6,-1.332610,NaN,NaN,0.690002,1.001543,NaN,NaN,NaN,-0.726213,NaN
7,0.051316,-1.157719,0.816707,0.433610,1.010737,NaN,NaN,NaN,-0.131578,NaN
8,0.188211,2.169461,-0.114928,2.003697,0.029610,0.795253,0.118110,-0.748532,0.584970,NaN
9,-1.565657,-0.562540,-0.032664,-0.929006,-0.482573,-0.036264,1.095390,0.980928,-0.589488,NaN

2. Remove all rows where at least half the columns have missing data

In [420]:
df.dropna(thresh = df.shape[0]/2)

,a,b,c,d,e,f,g,h,i,j
0,1.007189,NaN,NaN,0.228913,1.352917,0.886429,-2.001637,-0.371843,1.669025,NaN
1,-0.539741,NaN,NaN,-1.021228,-0.577087,0.124121,0.302614,0.523772,0.000940,NaN
2,-0.713544,NaN,NaN,-1.860761,-0.860757,0.560145,-1.265934,0.119827,-1.063512,NaN
3,-2.359419,NaN,NaN,-0.970736,-1.307030,0.286350,0.377984,-0.753887,0.331286,NaN
7,0.051316,-1.157719,0.816707,0.433610,1.010737,NaN,NaN,NaN,-0.131578,NaN
8,0.188211,2.169461,-0.114928,2.003697,0.029610,0.795253,0.118110,-0.748532,0.584970,NaN
9,-1.565657,-0.562540,-0.032664,-0.929006,-0.482573,-0.036264,1.095390,0.980928,-0.589488,NaN

3. Remove all columns where at least half the rows have missing data

In [421]:
df.dropna(axis = 1, thresh = df.shape[1]/2)

          a         d         e         f         g         h         i
0  1.007189  0.228913  1.352917  0.886429 -2.001637 -0.371843  1.669025
1 -0.539741 -1.021228 -0.577087  0.124121  0.302614  0.523772  0.000940
2 -0.713544 -1.860761 -0.860757  0.560145 -1.265934  0.119827 -1.063512
3 -2.359419 -0.970736 -1.307030  0.286350  0.377984 -0.753887  0.331286
4  0.069877  1.004812  1.327195       NaN       NaN       NaN  0.758363
5  0.862580  0.670216  0.852965       NaN       NaN       NaN -0.652469
6 -1.332610  0.690002  1.001543       NaN       NaN       NaN -0.726213
7  0.051316  0.433610  1.010737       NaN       NaN       NaN -0.131578
8  0.188211  2.003697  0.029610  0.795253  0.118110 -0.748532  0.584970
9 -1.565657 -0.929006 -0.482573 -0.036264  1.095390  0.980928 -0.589488

4. Combine problems 2 and 3. Does the order matter?

In [422]:
df.dropna(thresh = df.shape[0]/2).dropna(axis = 1, thresh = df.shape[1]/2)

          a         d         e         f         g         h         i
0  1.007189  0.228913  1.352917  0.886429 -2.001637 -0.371843  1.669025
1 -0.539741 -1.021228 -0.577087  0.124121  0.302614  0.523772  0.000940
2 -0.713544 -1.860761 -0.860757  0.560145 -1.265934  0.119827 -1.063512
3 -2.359419 -0.970736 -1.307030  0.286350  0.377984 -0.753887  0.331286
7  0.051316  0.433610  1.010737       NaN       NaN       NaN -0.131578
8  0.188211  2.003697  0.029610  0.795253  0.118110 -0.748532  0.584970
9 -1.565657 -0.929006 -0.482573 -0.036264  1.095390  0.980928 -0.589488

In [423]:
df.dropna(axis = 1, thresh = df.shape[1]/2).dropna(thresh = df.shape[0]/2)

          a         d         e         f         g         h         i
0  1.007189  0.228913  1.352917  0.886429 -2.001637 -0.371843  1.669025
1 -0.539741 -1.021228 -0.577087  0.124121  0.302614  0.523772  0.000940
2 -0.713544 -1.860761 -0.860757  0.560145 -1.265934  0.119827 -1.063512
3 -2.359419 -0.970736 -1.307030  0.286350  0.377984 -0.753887  0.331286
8  0.188211  2.003697  0.029610  0.795253  0.118110 -0.748532  0.584970
9 -1.565657 -0.929006 -0.482573 -0.036264  1.095390  0.980928 -0.589488

5. Remove all rows which have NA in either column 'b' or 'f'

In [424]:
df.dropna(subset=['b','f'])

,a,b,c,d,e,f,g,h,i,j
8,0.188211,2.169461,-0.114928,2.003697,0.029610,0.795253,0.11811,-0.748532,0.584970,NaN
9,-1.565657,-0.562540,-0.032664,-0.929006,-0.482573,-0.036264,1.09539,0.980928,-0.589488,NaN

## Min-Yao
1. Import my RNA-Seq CPM data from 'Expression Browser_CPM_practice.xlsx' file. Please made the Itag number become the row index. How many genes in this data set?

In [425]:
dat = pd.ExcelFile('datasets/Expression Browser_CPM_practice.xlsx')
dat = pd.read_excel(dat, 'Expression Browser_CPM')
dat.head()

,Name,6_c1,6_c2,6_c3,6_c4,6_c5,6_c6,6_c7,6_t1,6_t2,...,3_t5,2_c1,2_c2,2_c3,2_c4,2_c5,2_t1,2_t2,2_t3,2_t4
0,Solyc00g005000.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Solyc00g005005.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Solyc00g005040.3,0.000000,0.136237,0.000000,0.000000,0.000000,0.000000,0.000000,0.075741,0.30310,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Solyc00g005050.3,49.947944,50.680249,42.857629,46.142383,40.925485,49.050587,49.010294,47.224546,42.28247,...,46.069768,39.626619,33.60176,38.84896,28.487619,42.516459,47.526986,47.021348,51.069134,44.480035
4,Solyc00g005055.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [426]:
dat = dat.set_index('Name')
dat.head()

,6_c1,6_c2,6_c3,6_c4,6_c5,6_c6,6_c7,6_t1,6_t2,6_t3,...,3_t5,2_c1,2_c2,2_c3,2_c4,2_c5,2_t1,2_t2,2_t3,2_t4
Name,,,,,,,,,,,,,,,,,,,,,
Solyc00g005000.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Solyc00g005005.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Solyc00g005040.3,0.000000,0.136237,0.000000,0.000000,0.000000,0.000000,0.000000,0.075741,0.30310,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Solyc00g005050.3,49.947944,50.680249,42.857629,46.142383,40.925485,49.050587,49.010294,47.224546,42.28247,50.970454,...,46.069768,39.626619,33.60176,38.84896,28.487619,42.516459,47.526986,47.021348,51.069134,44.480035
Solyc00g005055.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

2. Please replace all 0 with NA.

In [427]:
dat = dat.replace(0,NA)
dat.head()

,6_c1,6_c2,6_c3,6_c4,6_c5,6_c6,6_c7,6_t1,6_t2,6_t3,...,3_t5,2_c1,2_c2,2_c3,2_c4,2_c5,2_t1,2_t2,2_t3,2_t4
Name,,,,,,,,,,,,,,,,,,,,,
Solyc00g005000.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Solyc00g005005.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Solyc00g005040.3,NaN,0.136237,NaN,NaN,NaN,NaN,NaN,0.075741,0.30310,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Solyc00g005050.3,49.947944,50.680249,42.857629,46.142383,40.925485,49.050587,49.010294,47.224546,42.28247,50.970454,...,46.069768,39.626619,33.60176,38.84896,28.487619,42.516459,47.526986,47.021348,51.069134,44.480035
Solyc00g005055.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3. We want to remove the genes that have no expression in all samples. How many genes left after we remove these genes.

In [428]:
dat = dat.dropna(how='all')
dat.head()

,6_c1,6_c2,6_c3,6_c4,6_c5,6_c6,6_c7,6_t1,6_t2,6_t3,...,3_t5,2_c1,2_c2,2_c3,2_c4,2_c5,2_t1,2_t2,2_t3,2_t4
Name,,,,,,,,,,,,,,,,,,,,,
Solyc00g005040.3,NaN,0.136237,NaN,NaN,NaN,NaN,NaN,0.075741,0.30310,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Solyc00g005050.3,49.947944,50.680249,42.857629,46.142383,40.925485,49.050587,49.010294,47.224546,42.28247,50.970454,...,46.069768,39.626619,33.601760,38.84896,28.487619,42.516459,47.526986,47.021348,51.069134,44.480035
Solyc00g005080.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.305098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Solyc00g005092.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.426326
Solyc00g005094.1,0.376966,0.408712,NaN,0.245438,NaN,NaN,0.414172,NaN,0.15155,0.175156,...,0.152549,NaN,0.143597,NaN,NaN,NaN,NaN,NaN,NaN,0.142109

## Julin

In Chapter 7.1 we learned how to replace a missing value in a Series with the mean value of that series.  Now we work with data frames.  Create a data frame like so:

```python
import pandas as pd
import numpy as np
from numpy import nan as NA

data = pd.DataFrame(np.random.randn(5,5))

data.iloc[3] = NA

data.iloc[2:, 3] = NA

data
```

In [429]:
data = pd.DataFrame(np.random.randn(5,5))
data.iloc[3] = NA
data.iloc[2:, 3] = NA
data

          0         1         2         3         4
0 -0.528735  0.457002  0.929969 -1.569271 -1.022487
1 -0.402827  0.220487 -0.193401  0.669158 -1.648985
2 -2.252797 -1.166832  0.353607       NaN -0.274569
3       NaN       NaN       NaN       NaN       NaN
4 -1.224145 -1.800840  1.634736       NaN  0.457940

1. For each column of the data frame that has missing data, replace that data with the mean values of the data in that column.

In [430]:
data.fillna(data.mean())

          0         1         2         3         4
0 -0.528735  0.457002  0.929969 -1.569271 -1.022487
1 -0.402827  0.220487 -0.193401  0.669158 -1.648985
2 -2.252797 -1.166832  0.353607 -0.450056 -0.274569
3 -1.102126 -0.572546  0.681228 -0.450056 -0.622025
4 -1.224145 -1.800840  1.634736 -0.450056  0.457940

2. Do the same thing, but only if there are less than 3 missing values in the column; otherwise leave the NAs there.

In [432]:
dataNAs = pd.Series(len(data) - data.count() < 3)
dataNAs

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [433]:
data[dataNAs.index[dataNAs]] = data[dataNAs.index[dataNAs]].fillna(data.mean())
data

          0         1         2         3         4
0 -0.528735  0.457002  0.929969 -1.569271 -1.022487
1 -0.402827  0.220487 -0.193401  0.669158 -1.648985
2 -2.252797 -1.166832  0.353607       NaN -0.274569
3 -1.102126 -0.572546  0.681228       NaN -0.622025
4 -1.224145 -1.800840  1.634736       NaN  0.457940

## Rie
1. Read CSV file named "soybean_miR.phythonClub.012519.csv" in my directory(https://github.com/UCD-pbio-rclub/python-data-analysis_RieU/blob/master/soybean_miR.phythonClub.012519.csv). "num" means the number of miRNA in the category that I am interested. I want to see the ratio of each miRNA relative to the total.

In [434]:
dat = pd.read_csv('https://raw.githubusercontent.com/UCD-pbio-rclub/python-data-analysis_RieU/master/soybean_miR.phythonClub.012519.csv')
print(dat.head())
print(dat.shape)

               miR  num  total
0     gma-miR10419    0      1
1     gma-miR10440    0      1
2     gma-miR1507a    0      7
3     gma-miR1507b    0      7
4  gma-miR1507c-3p    0      9
(176, 3)

2. Eliminated the rows containing 0 because I am not interested in those miRNAs!

In [435]:
dat2 = dat.loc[dat['num'] > 0]
print(dat2.head())
print(dat2.shape)

                          miR  num  total
5          gma-MIR1508a-5pNew    2      2
18  gma-miR156(a,h,u,v,w,x,y)    7     20
19         gma-miR156(b,f)-NV    8     24
20    gma-miR156(c,d,i,j,l,m)    7     23
21          gma-miR156(k,n,o)   11     22
(43, 3)

In [436]:
dat2['ratio'] = round(dat2['num']/dat2['total'],2)
print(dat2.head())
print(dat2.shape)

                          miR  num  total  ratio
5          gma-MIR1508a-5pNew    2      2   1.00
18  gma-miR156(a,h,u,v,w,x,y)    7     20   0.35
19         gma-miR156(b,f)-NV    8     24   0.33
20    gma-miR156(c,d,i,j,l,m)    7     23   0.30
21          gma-miR156(k,n,o)   11     22   0.50
(43, 4)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Joel
Create a DataFrame with random numbers

`data = pd.DataFrame(np.random.randn(20),columns=["S1"])`

1. Bin data into quartiles (for bonus, label them according to their bin)

In [437]:
data = pd.DataFrame(np.random.randn(20),columns=['S1'])
data

          S1
0   0.555154
1   1.306720
2  -0.440554
3  -0.301350
4   0.498791
5  -0.823991
6   1.320566
7   0.507965
8  -0.653438
9   0.186980
10 -0.391725
11 -0.272293
12 -0.017141
13  0.680321
14  0.635512
15 -0.757177
16  0.718086
17 -0.304273
18 -1.677790
19  0.426986

In [438]:
pd.qcut(data['S1'],4)

0                   (0.0849, 0.575]
1                    (0.575, 1.321]
2     (-1.6789999999999998, -0.404]
3                  (-0.404, 0.0849]
4                   (0.0849, 0.575]
5     (-1.6789999999999998, -0.404]
6                    (0.575, 1.321]
7                   (0.0849, 0.575]
8     (-1.6789999999999998, -0.404]
9                   (0.0849, 0.575]
10                 (-0.404, 0.0849]
11                 (-0.404, 0.0849]
12                 (-0.404, 0.0849]
13                   (0.575, 1.321]
14                   (0.575, 1.321]
15    (-1.6789999999999998, -0.404]
16                   (0.575, 1.321]
17                 (-0.404, 0.0849]
18    (-1.6789999999999998, -0.404]
19                  (0.0849, 0.575]
Name: S1, dtype: category
Categories (4, interval[float64]): [(-1.6789999999999998, -0.404] < (-0.404, 0.0849] < (0.0849, 0.575] < (0.575, 1.321]]

In [439]:
pd.qcut(data['S1'],4, labels = ['25','50','75','100'])

0      75
1     100
2      25
3      50
4      75
5      25
6     100
7      75
8      25
9      75
10     50
11     50
12     50
13    100
14    100
15     25
16    100
17     50
18     25
19     75
Name: S1, dtype: category
Categories (4, object): [25 < 50 < 75 < 100]

2. Assign the corresponding bin label to the index of the data

In [440]:
bins = pd.qcut(data['S1'],4, labels = ['25','50','75','100'])
data.index = bins
data

           S1
S1
75   0.555154
100  1.306720
25  -0.440554
50  -0.301350
75   0.498791
25  -0.823991
100  1.320566
75   0.507965
25  -0.653438
75   0.186980
50  -0.391725
50  -0.272293
50  -0.017141
100  0.680321
100  0.635512
25  -0.757177
100  0.718086
50  -0.304273
25  -1.677790
75   0.426986

3. Get the values for the first quartile in ascending order

In [441]:
data.sort_values('S1', ascending=True).loc['25']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'S1' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

          S1
S1
25 -1.677790
25 -0.823991
25 -0.757177
25 -0.653438
25 -0.440554

# Ch. 7 pt. 2 HW Problem

## John
Find me Beer using this https://api.openbrewerydb.org/breweries?

1. Create a dataframe using the api address above with every brewery in the database. Will need to use page and per_page as parameters. per_page max is 50

In [442]:
import requests
url_base = 'https://api.openbrewerydb.org/breweries?per_page=50&page='
dat = pd.DataFrame(requests.get(url_base+'1').json())
page = 2
while True:
    new = requests.get(url_base+str(page))
    new = pd.DataFrame(new.json())
    if len(new) > 0:
        dat = dat.append(new)
        page += 1
    else:
        break
dat

,brewery_type,city,country,id,latitude,longitude,name,phone,postal_code,state,street,tag_list,updated_at,website_url
0,micro,Birmingham,United States,2,33.524521,-86.774322,Avondale Brewing Co,2057775456,35222-1932,Alabama,201 41st St S,[],2018-08-23T23:19:57.825Z,http://www.avondalebrewing.com
1,micro,Tuscaloosa,United States,4,33.1984907123707,-87.5621551272424,Band of Brothers Brewing Company,2052665137,35401-4653,Alabama,1605 23rd Ave,[],2018-08-23T23:19:59.462Z,http://www.bandofbrosbrewing.com
2,micro,Birmingham,United States,44,33.5128492349817,-86.7914000624146,Trim Tab Brewing,2057030536,35233-3401,Alabama,2721 5th Ave S,[],2018-08-23T23:20:31.423Z,http://www.trimtabbrewing.com
3,micro,Huntsville,United States,46,34.7277523,-86.5932014,Yellowhammer Brewery,2569755950,35805-3046,Alabama,2600 Clinton Ave W,[],2018-08-23T23:20:33.102Z,http://www.yellowhammerbrewery.com
4,micro,Wasilla,United States,55,61.5752695,-149.4127103,Bearpaw River Brewing Co,,99654-7679,Alaska,4605 E Palmer Wasilla Hwy,[],2018-08-23T23:20:40.743Z,http://bearpawriverbrewing.com
5,micro,Anchorage,United States,76,61.1384893547315,-149.879076042937,King Street Brewing Co,9073365464,99515,Alaska,9050 King Street,[],2018-08-23T23:20:57.179Z,http://www.kingstreetbrewing.com
6,micro,Tucson,United States,94,32.2467372722906,-110.992750525872,1912 Brewing,5202564851,85745-1444,Arizona,2045 N Forbes Blvd Ste 105,[],2018-08-23T23:21:11.302Z,http://www.1912brewing.com
7,contract,Scottsdale,United States,98,33.4972615652174,-111.924474347826,Bad Water Brewing,5207459175,85251-3914,Arizona,4216 N Brown Ave,[],2018-08-23T23:21:15.169Z,http://www.badwaterbrewing.com
8,brewpub,Chandler,United States,104,33.3053455,-111.911126,BJs Restaurant & Brewery - Chandler,4809170631,85226-5175,Arizona,3155 W Chandler Blvd,[],2018-08-23T23:21:21.165Z,http://www.bjsrestaurants.com
9,micro,Tucson,United States,107,32.201608314954,-110.821778571134,BlackRock Brewers,5202073203,85710-6767,Arizona,1664 S Research Loop Ste 200,[],2018-08-23T23:21:23.794Z,http://www.brb.beer
10,micro,Tucson,United States,127,32.2504946147872,-111.005452051979,Dragoon Brewing Co,5203293606,85745-1214,Arizona,1859 W Grant Rd Ste 111,[],2018-08-23T23:21:40.563Z,http://www.dragoonbrewing.com
11,micro,Williams,United States,141,35.2500282,-112.1892168,Grand Canyon Brewing Company,8005132072,86046-2530,Arizona,233 W Route 66,[],2018-08-23T23:21:53.397Z,http://www.grandcanyonbrewingco.com
12,micro,Lake Havasu City,United States,163,34.4689736300844,-114.342433477881,Mudshark Brewing Co,9284532981,86403-0966,Arizona,210 Swanson Ave,[],2018-08-23T23:22:12.542Z,http://www.mudsharkbrewingco.com
13,micro,Peoria,United States,182,33.6687744976834,-112.238054093359,Richter Aleworks,6029086553,85382-7434,Arizona,8279 W Lake Pleasant Pkwy Ste 110,[],2018-08-23T23:22:29.385Z,http://www.richteraleworks.com
14,regional,Chandler,United States,187,33.3032436,-111.8423459,SanTan Brewing Co,4809178700,85225-7862,Arizona,8 S San Marcos Pl,[],2018-08-23T23:22:33.482Z,http://www.santanbrewing.com
15,brewpub,Surprise,United States,198,33.63822125,-112.357813820157,State 48 Brewery,6235841095,85374-3873,Arizona,13823 W Bell Rd,[],2018-08-23T23:22:41.468Z,
16,micro,Phoenix,United States,219,33.516633,-112.0301125,Wren House Brewing Company,6022449184,85008-2713,Arizona,2125 N 24th St,[],2018-08-23T23:22:59.255Z,http://www.wrenhousebrewing.com
17,brewpub,Paragould,United States,225,36.0316358142169,-90.5204797204622,Brick Oven Pizza Co / Brick & Forge Brewing,8702364200,72450-6122,Arkansas,2410 Linwood Dr,[],2018-08-23T23:23:05.438Z,http://www.brickovenpizzacompany.com
18,micro,North Little Rock,United States,235,34.7594277548278,-92.2726892120821,Diamond Bear Brewing Co,5017082739,72114-5381,Arkansas,600 N Broadway St,[],2018-08-23T23:23:14.931Z,http://www.diamondbear.com
19,micro,Little Rock,United States,247,34.742845,-92.260019,Lost Forty Brewing,5013197275,72202,Arkansas,501 Byrd St,[],2018-08-23T23:23:24.018Z,http://www.lost40brewing.com/
20,micro,Mountain Home,United States,253,36.3326432,-92.3599724,Rapp's Barren Brewing Company,8704247288,72653-5050,Arkansas,1343 E 9th St,[],2018-08-23T23:23:29.428Z,http://www.rappsbarrenbrewing.com
21,planning,Lowell,United States,264,36.2553543,-94.1307587,Whistleing Springs Brewing Company / Dark Hill...,4792836365,72745-9294,Arkansas,,[],2018-08-23T23:23:40.468Z,http://www.darkhillsbrew.com
22,brewpub,San Luis Obispo,United States,281,35.2467277959184,-120.670637530612,7 Sisters Brewing Co,8058687133,93401-7082,California,181 Tank Farm Rd Ste 110,[],2018-08-23T23:23:55.334Z,http://www.7sistersbrewing.com
23,micro,San Diego,United States,286,33.02391,-117.08575,Abnormal Beer Company,8586182463,92127-1649,California,16990 Via Tazon Ste 123,[],2018-08-23T23:24:00.025Z,http://abnormalbeer.co
24,micro,Livermore,United States,305,37.6783911404914,-121.721097428074,Altamont Beer Works,9254432337,94550-3850,California,2402 Research Dr,[],2018-08-23T23:24:16.819Z,http://www.altamontbeerworks.com
25,brewpub,Auburn,United States,329,38.8961210674875,-121.078958250811,Auburn Alehouse,5308852537,95603-5036,California,289 Washington St,[],2018-08-23T23:24:41.928Z,http://www.auburnalehouse.com
26,micro,Anaheim,United States,333,33.7998367777778,-117.896089444444,Back Street Brewery & Tasting Room,6572364050,92805-6726,California,1884 S Santa Cruz St,[],2018-08-23T23:24:45.724Z,http://www.backstreetbrew.com
27,brewpub,Rohnert Park,United States,361,38.3649703,-122.7101405,Bear Republic Brewing Co Pub & Restaurant - La...,7075852722,94928,California,5000 Roberts Lake Rd,[],2018-08-23T23:25:11.314Z,http://bearrepublic.com
28,micro,Lemoore,United States,376,36.3014675555556,-119.784711,Bird Street Brewing,5593094649,93245-2947,California,242 Heinlen St,[],2018-08-23T23:25:24.815Z,http://www.birdstreetbrewing.com
29,micro,San Francisco,United States,385,37.780655,-122.3969947,Black Hammer Brewing,4155002273,94107-1217,California,544 Bryant St,[],2018-08-23T23:25:33.033Z,http://www.blackhammerbrewing.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,micro,Wenatchee,United States,7734,None,None,Wenatchee Valley Brewing Co.,5098888088,98801-2039,Washington,108 Island Vw,[],2018-08-11T21:40:27.982Z,http://wenatcheevalleybrewing.com/
0,micro,Yakima,United States,7746,None,None,Yakima Craft Brewing Co,5096547357,98902-7332,Washington,2920 River Rd Ste 6,[],2018-08-11T21:40:28.481Z,http://www.yakimacraftbrewing.com
1,brewpub,Berkeley Springs,United States,7754,None,None,Berkeley Springs Brewing Co,3042583369,25411-3008,West Virginia,110 Michigan Ln,[],2018-08-11T21:40:28.743Z,http://www.berkeleyspringsbrewingcompany.com
2,micro,Algoma,United States,7786,None,None,Ahnapee Brewery,9202178527,54201-9501,Wisconsin,N9153 Cherry Tree Rd Apt 4,[],2018-08-11T21:40:30.396Z,http://www.ahnapeebrewery.com
3,micro,Baileys Harbor,United States,7834,None,None,Door County Brewing Co./ Hacienda Beer Co,9204931517,54202-0201,Wisconsin,8099 State Highway 57 PO Box 201,[],2018-08-11T21:40:32.313Z,http://doorcountybrewingco.com
4,micro,Manitowish Waters,United States,7950,None,None,Some Nerve Brewing Company,6085766040,54545-6325,Wisconsin,5586 US Highway 51,[],2018-08-11T21:40:36.397Z,http://www.somenervebrewing.com
5,brewpub,Grafton,United States,7987,None,None,Water Street Brewery - Grafton,2623752222,53024-9336,Wisconsin,1251 Gateway Dr 143 & Highway 60,[],2018-08-11T21:40:37.527Z,http://www.waterstreetbrewery.com
6,brewpub,Bothell,United States,7550,47.7638777210884,-122.208069768707,McMenamins Anderson School Brewery,4253980122,98011-1928,Washington,18607 Bothell Way NE,[],2018-08-24T16:36:39.507Z,http://www.mcmenamins.com/AndersonSchool
7,contract,Pacific,United States,7585,47.2501336,-122.2488484,Northwest Brewing Company,2539875680,98047-2127,Washington,1091 Valentine Ave SE,[],2018-08-24T16:37:28.444Z,http://www.nwbrewingcompany.com
8,brewpub,Winthrop,United States,7596,48.47814625,-120.186635379502,Old Schoolhouse Brewery,5099963183,98862-0577,Washington,155 Riverside Ave,[],2018-08-24T16:37:42.767Z,http://www.oldschoolhousebrewery.com
9,micro,Tacoma,United States,7604,47.250289,-122.437927,Pacific Brewing and Malting,2533832337,98402-4606,Washington,610 Pacific Ave,[],2018-08-24T16:37:51.769Z,http://www.pacificbrewingandmalting.com
10,brewpub,Seattle,United States,7620,47.5920086,-122.33477,Pyramid Breweries / North American Breweries,2066823377,98134-1238,Washington,1201 1st Ave S,[],2018-08-24T16:38:12.872Z,http://www.pyramidbrew.com
11,brewpub,Bellevue,United States,7637,47.5523206,-122.1774828,Resonate Brewery + Pizzeria,4256443164,98006-3754,Washington,5606 119th Ave SE,[],2018-08-24T16:38:37.000Z,http://www.resonatebrewery.com
12,micro,Yakima,United States,7664,46.6050642975829,-120.500668831642,Single Hill Brewing Company,5033511197,98901-2757,Washington,102 N Naches Ave,[],2018-08-24T16:39:17.633Z,http://www.singlehillbrewing.com
13,brewpub,Moses Lake,United States,7679,47.1280836846376,-119.285096155572,St Brigid's Brewery,5097508357,98837-1900,Washington,606 W Broadway Ave,[],2018-08-24T16:39:37.231Z,http://www.stbrigidsbrewery.com
14,proprietor,Westover,United States,7771,39.6362475384615,-79.9618303333333,Pubstomper Brewing Company,3046850996,26501-4506,West Virginia,132 Tower Ln,[],2018-08-24T16:41:34.155Z,http://www.pubstomperbrewing.com
15,micro,Milwaukee,United States,7797,43.0429687,-87.9201437,Big Head Brewing Co.,6082359636,53213-2906,Wisconsin,6204 W State St,[],2018-08-24T16:42:07.915Z,http://www.bigheadbrewingco.com
16,brewpub,Marshfield,United States,7801,44.6593807910629,-90.1814890162256,Blue Heron Brew Pub,7153891868,54449-4111,Wisconsin,108 W 9th St,[],2018-08-24T16:42:13.937Z,http://www.blueheronbrewpub.com
17,regional,Middleton,United States,7817,43.09489645,-89.5165797754161,Capital Brewery Co Inc,6088367100,53562-3163,Wisconsin,7734 Terrace Ave,[],2018-08-24T16:42:27.346Z,http://www.capitalbrewery.com
18,micro,Madison,United States,7849,43.0501017743752,-89.3919797327108,Funk Factory Geuzeria,,53715-2128,Wisconsin,1602 Gilson St,[],2018-08-24T16:43:10.601Z,http://www.funkfactorygeuzeria.com
19,brewpub,Fitchburg,United States,7858,43.0181626711064,-89.4237090342225,Great Dane Pub and Brewing Co - Fitchburg,6084429000,53711-7146,Wisconsin,2980 Cahill Main,[],2018-08-24T16:43:22.913Z,http://www.greatdanepub.com
20,regional,Milwaukee,United States,7879,43.0547874,-87.9051723,Lakefront Brewery Inc,4143728800,53212-3701,Wisconsin,1872 N Commerce St,[],2018-08-24T16:43:54.449Z,http://www.lakefrontbrewery.com
21,regional,Monroe,United States,7895,42.5986305132204,-89.641509,Minhas Craft Brewery,6083289120,53566-2055,Wisconsin,1208 14th Ave,[],2018-08-24T16:44:17.355Z,http://www.minhasbrewery.com
22,brewpub,Cornell,United States,7899,45.1653752,-91.1589648,MoonRidge Brewpub,7152391341,54732-8392,Wisconsin,501 Bridge St,[],2018-08-24T16:44:23.532Z,http://www.facebook.com/MoonRidge-Brew-Pub-150...
23,brewpub,Osseo,United States,7905,44.5827066565657,-91.2266512323232,Northwoods Brewpub and Grill,7155520510,54758,Wisconsin,50918 West Street,[],2018-08-24T16:44:31.455Z,http://www.northwoodsbrewpub.com
24,micro,Kenosha,United States,7923,42.5831542416945,-87.8197509130208,Public Craft Brewing Co,2626522739,53140-4137,Wisconsin,716 58th St,[],2018-08-24T16:44:56.034Z,http://www.publiccraftbrewing.com
25,regional,Stevens Point,United States,7958,44.5102627142857,-89.5739807755102,Stevens Point Brewery,7153449310,54481-5248,Wisconsin,2617 Water St,[],2018-08-24T16:45:45.320Z,http://www.pointbeer.com
26,brewpub,Green Bay,United States,7973,44.51892,-88.018517,Titletown Brewing Co,9204372337,54303-2712,Wisconsin,200 Dousman St,[],2018-08-24T16:46:06.736Z,http://www.titletownbrewing.com
27,micro,Sheridan,United States,8000,44.800895122449,-106.953506,Black Tooth Brewing Co,3076752337,82801-3917,Wyoming,312 Broadway St,[],2018-08-24T16:46:40.667Z,http://www.blacktoothbrewingcompany.com
28,brewpub,Gillette,United States,8007,44.29203825,-105.503614485757,Gillette Brewing Company,3076708948,82716-3705,Wyoming,301 S Gillette Ave,[],2018-08-24T16:46:48.215Z,http://www.gillettebrewingcompany.com

2. Filter this data set down to only micro breweries in states that with begin and end with the same letter

In [443]:
pattern = r'^(.).*\1$'
regex = re.compile(r'^(.).*\1$', flags=re.IGNORECASE)
#data[dataNAs.index[dataNAs]]
dat = dat.loc[dat['brewery_type'] == 'micro']
dat = dat[dat['state'].str.contains(regex) == True]
dat

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

,brewery_type,city,country,id,latitude,longitude,name,phone,postal_code,state,street,tag_list,updated_at,website_url
0,micro,Birmingham,United States,2,33.524521,-86.774322,Avondale Brewing Co,2057775456,35222-1932,Alabama,201 41st St S,[],2018-08-23T23:19:57.825Z,http://www.avondalebrewing.com
1,micro,Tuscaloosa,United States,4,33.1984907123707,-87.5621551272424,Band of Brothers Brewing Company,2052665137,35401-4653,Alabama,1605 23rd Ave,[],2018-08-23T23:19:59.462Z,http://www.bandofbrosbrewing.com
2,micro,Birmingham,United States,44,33.5128492349817,-86.7914000624146,Trim Tab Brewing,2057030536,35233-3401,Alabama,2721 5th Ave S,[],2018-08-23T23:20:31.423Z,http://www.trimtabbrewing.com
3,micro,Huntsville,United States,46,34.7277523,-86.5932014,Yellowhammer Brewery,2569755950,35805-3046,Alabama,2600 Clinton Ave W,[],2018-08-23T23:20:33.102Z,http://www.yellowhammerbrewery.com
4,micro,Wasilla,United States,55,61.5752695,-149.4127103,Bearpaw River Brewing Co,,99654-7679,Alaska,4605 E Palmer Wasilla Hwy,[],2018-08-23T23:20:40.743Z,http://bearpawriverbrewing.com
5,micro,Anchorage,United States,76,61.1384893547315,-149.879076042937,King Street Brewing Co,9073365464,99515,Alaska,9050 King Street,[],2018-08-23T23:20:57.179Z,http://www.kingstreetbrewing.com
6,micro,Tucson,United States,94,32.2467372722906,-110.992750525872,1912 Brewing,5202564851,85745-1444,Arizona,2045 N Forbes Blvd Ste 105,[],2018-08-23T23:21:11.302Z,http://www.1912brewing.com
9,micro,Tucson,United States,107,32.201608314954,-110.821778571134,BlackRock Brewers,5202073203,85710-6767,Arizona,1664 S Research Loop Ste 200,[],2018-08-23T23:21:23.794Z,http://www.brb.beer
10,micro,Tucson,United States,127,32.2504946147872,-111.005452051979,Dragoon Brewing Co,5203293606,85745-1214,Arizona,1859 W Grant Rd Ste 111,[],2018-08-23T23:21:40.563Z,http://www.dragoonbrewing.com
11,micro,Williams,United States,141,35.2500282,-112.1892168,Grand Canyon Brewing Company,8005132072,86046-2530,Arizona,233 W Route 66,[],2018-08-23T23:21:53.397Z,http://www.grandcanyonbrewingco.com
12,micro,Lake Havasu City,United States,163,34.4689736300844,-114.342433477881,Mudshark Brewing Co,9284532981,86403-0966,Arizona,210 Swanson Ave,[],2018-08-23T23:22:12.542Z,http://www.mudsharkbrewingco.com
13,micro,Peoria,United States,182,33.6687744976834,-112.238054093359,Richter Aleworks,6029086553,85382-7434,Arizona,8279 W Lake Pleasant Pkwy Ste 110,[],2018-08-23T23:22:29.385Z,http://www.richteraleworks.com
16,micro,Phoenix,United States,219,33.516633,-112.0301125,Wren House Brewing Company,6022449184,85008-2713,Arizona,2125 N 24th St,[],2018-08-23T23:22:59.255Z,http://www.wrenhousebrewing.com
36,micro,Juneau,United States,54,58.3017758843016,-134.407726539973,Barnaby Brewing Company,9074190916,99801-1225,Alaska,206 N Franklin St,[],2018-08-23T23:20:39.859Z,http://www.barnabybrew.com
4,micro,Cleveland,United States,5383,41.4895629,-81.7008861,Brick and Barrel,5039270629,44113-2412,Ohio,1844 Columbus Rd,[],2018-08-24T15:43:32.373Z,http://www.brickandbarrelbrewing.com
6,micro,Dayton,United States,5408,39.7622667647059,-84.1852886764706,Dayton Beer Co Production Brewery & Bierhall,9372282337,45402-2105,Ohio,41 Madison St,[],2018-08-24T15:43:43.518Z,http://www.thedaytonbeerco.com
8,micro,Cincinnati,United States,5427,39.218908,-84.4805528,Fibonacci Brewing Company,5138321422,45231-3559,Ohio,1445 Compton Rd,[],2018-08-24T15:43:51.294Z,http://fibbrew.com
9,micro,Granville,United States,5445,40.0352737879005,-82.5886160260201,Granville Brewing Company,,43023-9192,Ohio,5371 Columbus Rd,[],2018-08-24T15:43:59.706Z,http://www.granvillewbrewing.com
13,micro,Barberton,United States,5496,41.0144467231506,-81.6073882927244,Magic City Brewing Company,3307039806,44203,Ohio,161 2nd St NW,[],2018-08-24T15:44:23.362Z,http://Www.magiccitybrewingcompany.com
16,micro,Canton,United States,5521,40.8019184081633,-81.3767243265306,Muskellunge Brewing Company,,44702,Ohio,425 5th St NW,[],2018-08-24T15:44:34.180Z,http://www.muskybrewco.com
18,micro,Massillon,United States,5540,40.7986581428571,-81.5218392857143,Paradigm Shift Brewing,3308800008,44646-5526,Ohio,128 North Ave NE,[],2018-08-24T15:44:40.762Z,http://www.paradigmshiftbrew.com
19,micro,Columbus,United States,5562,40.090144,-83.05232,Random Precision Brewing Company,6143893864,43235-2700,Ohio,2365 W Dublin Granville Rd,[],2018-08-24T15:44:50.093Z,http://www.randomprecisionbrewing.com
23,micro,Fairfield,United States,5597,39.3489541799819,-84.5310617847279,Swine City Brewing Company,7045601214,45014-1923,Ohio,4614 Industry Dr,[],2018-08-24T15:45:02.739Z,http://www.swinecitybrewing.com
25,micro,Cincinnati,United States,5617,39.1289592,-84.4768398,The Woodburn Brewery,5132212337,45206-1793,Ohio,2800 Woodburn Ave,[],2018-08-24T15:45:11.146Z,http://www.woodburnbrewery.com
26,micro,Akron,United States,5627,41.0520502548408,-81.4629236768124,Two Monks Brewing Company,2347382337,44312-2021,Ohio,352 Massillon Rd,[],2018-08-24T15:45:15.418Z,http://www.2monksbru.com
27,micro,Fresno,United States,5645,40.2914143959077,-81.7357237229063,Wooly Pig Farm Brewery,7406935050,43824-9704,Ohio,23631 Township Road 167,[],2018-08-24T15:45:23.502Z,http://www.woolypigfarmbrewery.com
45,micro,Holland,United States,5357,41.6171284,-83.7032185,Black Frog Brewing Co,4193897136,43528-8746,Ohio,831 S McCord Rd,[],2018-08-24T15:43:27.530Z,http://www.blackfrogbrewery.com
46,micro,Lancaster,United States,5413,39.7123647,-82.6042529,Double Edge Brewing Co,7402777465,43130-4308,Ohio,158 W Chestnut St,[],2018-08-24T15:43:45.629Z,http://www.double-edge.beer
48,micro,Springfield,United States,5516,39.9271684098324,-83.8119656562835,Mother Stewart's Brewing Co,,45504-2546,Ohio,109 W North St,[],2018-08-24T15:44:31.724Z,
1,micro,Mansfield,United States,5615,40.7620183673469,-82.513951877551,The Phoenix Brewing Company,4195222552,44902-1331,Ohio,131 N Diamond St,[],2018-08-24T15:45:10.239Z,http://www.phoenixbrewing.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,micro,Dayton,United States,5636,None,None,Warped Wing Brewing Co,9372227003,45402-2145,Ohio,26 Wyandot St,[],2018-08-11T21:39:06.759Z,http://www.warpedwing.com
25,micro,Nevada,United States,5640,None,None,White Shutter Winery and Brewery,4198352900,44849,Ohio,3794 County Hwy 56,[],2018-08-11T21:39:06.886Z,http://www.whiteshutterwinery.com
26,micro,Yellow Springs,United States,5648,None,None,Yellow Springs Brewery,9377670222,45387-2059,Ohio,305 N Walnut St Ste B,[],2018-08-11T21:39:07.182Z,http://www.yellowspringsbrewery.com
27,micro,Columbus,United States,5649,None,None,Zaftig Brewing Co.,6146362537,43229-1050,Ohio,7020 Huntley Rd Ste A,[],2018-08-11T21:39:07.221Z,http://www.drinkzaftig.com
33,micro,Akron,United States,5619,41.0698532030387,-81.5178848685887,Thirsty Dog Brewing Company,3302522739,44311-1184,Ohio,529 Grant St Ste 103,[],2018-08-24T15:45:11.684Z,http://www.thirstydog.com
34,micro,Cincinnati,United States,5620,39.1100908181818,-84.509442,Three Points Urban Brewery,5135555555,45202-7307,Ohio,331 E 13th St,[],2018-08-24T15:45:12.146Z,http://www.3pointsbeer.com
37,micro,Newark,United States,5623,40.057228172848,-82.4556440922082,Trek Brewing,,43055-1538,Ohio,1486 Granville Rd,[],2018-08-24T15:45:13.492Z,http://www.trekbeer.com
42,micro,Cincinnati,United States,5630,39.1607827,-84.5419628181115,Urban Artifact,,45223-2554,Ohio,1660 Blue Rock St,[],2018-08-24T15:45:17.010Z,http://www.artifactbeer.com
45,micro,Cincinnati,United States,5639,39.1489024615385,-84.598433,West Side Brewing,5136612337,45211-5752,Ohio,3044 Harrison Ave,[],2018-08-24T15:45:20.433Z,http://www.westsidebrewing.com
46,micro,Cincinnati,United States,5641,39.2072785,-84.4746169,"Wiedemann Brewing Co, LLC",5138009560,45217-1217,Ohio,4811 Vine St,[],2018-08-24T15:45:21.541Z,http://www.wiedemannbeer.com
47,micro,Grand Rapids,United States,5642,41.4125325915493,-83.8673138450704,Wild Side Brewing Company,4193892776,43522,Ohio,24194 Front St,[],2018-08-24T15:45:22.079Z,http://www.wildsidebrewing.com
49,micro,Columbus,United States,5644,39.9577586034483,-82.9951795344828,Wolf's Ridge Brewing,6144293936,43215-2510,Ohio,215 N 4th St,[],2018-08-24T15:45:23.060Z,http://www.wolfsridgebrewing.com
0,micro,Cleveland,United States,5646,41.44993,-81.820461,Working Class Brewery,2164175112,44111-4028,Ohio,17448 Lorain Ave,[],2018-08-24T15:45:23.989Z,http://www.workingclassbrewery.com
1,micro,Zanesville,United States,5647,39.9560342857143,-82.0042296122449,Y Bridge Brewing Company,7408684265,43701,Ohio,1417 Linden Ave,[],2018-08-24T15:45:24.462Z,
49,micro,Palmer,United States,56,None,None,Bleeding Heart Brewery,7609172417,99645-6972,Alaska,1150 S Colony Way Ste 3 Pmb 618,[],2018-08-11T21:35:44.971Z,http://Facebook.com/BleedingHeartBrewery
0,micro,Wasilla,United States,83,None,None,"QUAKE! Brewing Company, LLC",4048340997,99654,Alaska,1540 N Shoreline Dr,[],2018-08-11T21:35:45.990Z,http://www.quakebrewingcompany.com
1,micro,Tempe,United States,130,None,None,Elevate Your Passion Brewing,8883972337,85281-7245,Arizona,2209 W 1st St # A107,[],2018-08-11T21:35:47.505Z,http://www.elevateyourpassion.com
2,micro,Chandler,United States,148,None,None,HOP Central Brewery and Taproom,6026971494,85226-6111,Arizona,5055 W Ray Rd Ste 2,[],2018-08-11T21:35:48.211Z,http://www.hopcentraltaproom.com
3,micro,Mesa,United States,153,None,None,Lochiel Brewing,4806660915,85209-2657,Arizona,7143 E Southern Ave Ste 131,[],2018-08-11T21:35:48.387Z,http://lochielbrewing.com
20,micro,Tucson,United States,109,32.2233468061147,-110.967630483658,Borderlands Brewing Co,5202618773,85701-1210,Arizona,119 E Toole Ave,[],2018-08-23T23:21:25.596Z,http://www.borderlandsbrewing.com
23,micro,Tucson,United States,204,32.23567665,-110.946585309028,The Address Brewing / 1702 Beer & Pizza,5203251702,85719-4515,Arizona,1702 E Speedway Blvd,[],2018-08-23T23:22:46.623Z,http://www.1702az.com
21,micro,Port Clinton,United States,5392,None,None,Catawba Island Brewing Company,4199607764,43452-1517,Ohio,2330 East Harbor Rd,[],2018-08-11T21:38:57.390Z,http://catawbaislandbrewing.com
22,micro,West Chester,United States,5412,None,None,DogBerry Brewing LLC,5138478208,45069,Ohio,9964 Crescent Park Dr,[],2018-08-11T21:38:58.020Z,http://www.dogberrybrewing.com
24,micro,Marengo,United States,5461,None,None,Hoof Hearted Brewing,5672333115,43334-9678,Ohio,300 County Road 26,[],2018-08-11T21:38:59.446Z,http://www.hoofheartedbrewing.com
25,micro,Sherrodsville,United States,5497,None,None,Main Sail Brewery / Atwood Yacht Club,3307352135,44675-9719,Ohio,2637 Lodge Rd SW,[],2018-08-11T21:39:00.824Z,http://www.atwoodyachtclub.com
26,micro,Loveland,United States,5523,None,None,Narrow Path Brewing Company,5133123414,45140-2902,Ohio,106 Karl Brown Way,[],2018-08-11T21:39:01.962Z,http://www.narrowpathbrewing.com
40,micro,Athens,United States,5411,39.3487142533636,-82.0954317616037,Devil's Kettle Brewing,7405897187,45701-1313,Ohio,97 Columbus Rd,[],2018-08-24T15:43:44.632Z,http://www.devilskettlebrewing.com
41,micro,Barberton,United States,5466,41.012866,-81.61268,"Ignite Brewing Company, Ltd.",3306966881,44203-2460,Ohio,600 W Tuscarawas Ave,[],2018-08-24T15:44:10.051Z,http://www.facebook.com/Ignitebrewingcompany
42,micro,Maria Stein,United States,5512,40.4214478333333,-84.49312675,Moeller Brew Barn,4199253005,45860-8706,Ohio,8016 Marion Dr,[],2018-08-24T15:44:30.369Z,http://www.moellerbrewbarn.com
43,micro,Avon,United States,5559,41.4754617027622,-82.0195372450403,Railroad Brewing Company,4407238234,44011-1206,Ohio,1010 Center Rd,[],2018-08-24T15:44:48.690Z,http://www.railroadbrewingcompany.com

3. From the breweries found in part 2, find the farthest north, south, east, and west breweries. You may need to change the dtype of the columns

In [444]:
dat[['longitude', 'latitude']] = dat[['longitude', 'latitude']].apply(pd.to_numeric)
dat

,brewery_type,city,country,id,latitude,longitude,name,phone,postal_code,state,street,tag_list,updated_at,website_url
0,micro,Birmingham,United States,2,33.524521,-86.774322,Avondale Brewing Co,2057775456,35222-1932,Alabama,201 41st St S,[],2018-08-23T23:19:57.825Z,http://www.avondalebrewing.com
1,micro,Tuscaloosa,United States,4,33.198491,-87.562155,Band of Brothers Brewing Company,2052665137,35401-4653,Alabama,1605 23rd Ave,[],2018-08-23T23:19:59.462Z,http://www.bandofbrosbrewing.com
2,micro,Birmingham,United States,44,33.512849,-86.791400,Trim Tab Brewing,2057030536,35233-3401,Alabama,2721 5th Ave S,[],2018-08-23T23:20:31.423Z,http://www.trimtabbrewing.com
3,micro,Huntsville,United States,46,34.727752,-86.593201,Yellowhammer Brewery,2569755950,35805-3046,Alabama,2600 Clinton Ave W,[],2018-08-23T23:20:33.102Z,http://www.yellowhammerbrewery.com
4,micro,Wasilla,United States,55,61.575269,-149.412710,Bearpaw River Brewing Co,,99654-7679,Alaska,4605 E Palmer Wasilla Hwy,[],2018-08-23T23:20:40.743Z,http://bearpawriverbrewing.com
5,micro,Anchorage,United States,76,61.138489,-149.879076,King Street Brewing Co,9073365464,99515,Alaska,9050 King Street,[],2018-08-23T23:20:57.179Z,http://www.kingstreetbrewing.com
6,micro,Tucson,United States,94,32.246737,-110.992751,1912 Brewing,5202564851,85745-1444,Arizona,2045 N Forbes Blvd Ste 105,[],2018-08-23T23:21:11.302Z,http://www.1912brewing.com
9,micro,Tucson,United States,107,32.201608,-110.821779,BlackRock Brewers,5202073203,85710-6767,Arizona,1664 S Research Loop Ste 200,[],2018-08-23T23:21:23.794Z,http://www.brb.beer
10,micro,Tucson,United States,127,32.250495,-111.005452,Dragoon Brewing Co,5203293606,85745-1214,Arizona,1859 W Grant Rd Ste 111,[],2018-08-23T23:21:40.563Z,http://www.dragoonbrewing.com
11,micro,Williams,United States,141,35.250028,-112.189217,Grand Canyon Brewing Company,8005132072,86046-2530,Arizona,233 W Route 66,[],2018-08-23T23:21:53.397Z,http://www.grandcanyonbrewingco.com
12,micro,Lake Havasu City,United States,163,34.468974,-114.342433,Mudshark Brewing Co,9284532981,86403-0966,Arizona,210 Swanson Ave,[],2018-08-23T23:22:12.542Z,http://www.mudsharkbrewingco.com
13,micro,Peoria,United States,182,33.668774,-112.238054,Richter Aleworks,6029086553,85382-7434,Arizona,8279 W Lake Pleasant Pkwy Ste 110,[],2018-08-23T23:22:29.385Z,http://www.richteraleworks.com
16,micro,Phoenix,United States,219,33.516633,-112.030113,Wren House Brewing Company,6022449184,85008-2713,Arizona,2125 N 24th St,[],2018-08-23T23:22:59.255Z,http://www.wrenhousebrewing.com
36,micro,Juneau,United States,54,58.301776,-134.407727,Barnaby Brewing Company,9074190916,99801-1225,Alaska,206 N Franklin St,[],2018-08-23T23:20:39.859Z,http://www.barnabybrew.com
4,micro,Cleveland,United States,5383,41.489563,-81.700886,Brick and Barrel,5039270629,44113-2412,Ohio,1844 Columbus Rd,[],2018-08-24T15:43:32.373Z,http://www.brickandbarrelbrewing.com
6,micro,Dayton,United States,5408,39.762267,-84.185289,Dayton Beer Co Production Brewery & Bierhall,9372282337,45402-2105,Ohio,41 Madison St,[],2018-08-24T15:43:43.518Z,http://www.thedaytonbeerco.com
8,micro,Cincinnati,United States,5427,39.218908,-84.480553,Fibonacci Brewing Company,5138321422,45231-3559,Ohio,1445 Compton Rd,[],2018-08-24T15:43:51.294Z,http://fibbrew.com
9,micro,Granville,United States,5445,40.035274,-82.588616,Granville Brewing Company,,43023-9192,Ohio,5371 Columbus Rd,[],2018-08-24T15:43:59.706Z,http://www.granvillewbrewing.com
13,micro,Barberton,United States,5496,41.014447,-81.607388,Magic City Brewing Company,3307039806,44203,Ohio,161 2nd St NW,[],2018-08-24T15:44:23.362Z,http://Www.magiccitybrewingcompany.com
16,micro,Canton,United States,5521,40.801918,-81.376724,Muskellunge Brewing Company,,44702,Ohio,425 5th St NW,[],2018-08-24T15:44:34.180Z,http://www.muskybrewco.com
18,micro,Massillon,United States,5540,40.798658,-81.521839,Paradigm Shift Brewing,3308800008,44646-5526,Ohio,128 North Ave NE,[],2018-08-24T15:44:40.762Z,http://www.paradigmshiftbrew.com
19,micro,Columbus,United States,5562,40.090144,-83.052320,Random Precision Brewing Company,6143893864,43235-2700,Ohio,2365 W Dublin Granville Rd,[],2018-08-24T15:44:50.093Z,http://www.randomprecisionbrewing.com
23,micro,Fairfield,United States,5597,39.348954,-84.531062,Swine City Brewing Company,7045601214,45014-1923,Ohio,4614 Industry Dr,[],2018-08-24T15:45:02.739Z,http://www.swinecitybrewing.com
25,micro,Cincinnati,United States,5617,39.128959,-84.476840,The Woodburn Brewery,5132212337,45206-1793,Ohio,2800 Woodburn Ave,[],2018-08-24T15:45:11.146Z,http://www.woodburnbrewery.com
26,micro,Akron,United States,5627,41.052050,-81.462924,Two Monks Brewing Company,2347382337,44312-2021,Ohio,352 Massillon Rd,[],2018-08-24T15:45:15.418Z,http://www.2monksbru.com
27,micro,Fresno,United States,5645,40.291414,-81.735724,Wooly Pig Farm Brewery,7406935050,43824-9704,Ohio,23631 Township Road 167,[],2018-08-24T15:45:23.502Z,http://www.woolypigfarmbrewery.com
45,micro,Holland,United States,5357,41.617128,-83.703219,Black Frog Brewing Co,4193897136,43528-8746,Ohio,831 S McCord Rd,[],2018-08-24T15:43:27.530Z,http://www.blackfrogbrewery.com
46,micro,Lancaster,United States,5413,39.712365,-82.604253,Double Edge Brewing Co,7402777465,43130-4308,Ohio,158 W Chestnut St,[],2018-08-24T15:43:45.629Z,http://www.double-edge.beer
48,micro,Springfield,United States,5516,39.927168,-83.811966,Mother Stewart's Brewing Co,,45504-2546,Ohio,109 W North St,[],2018-08-24T15:44:31.724Z,
1,micro,Mansfield,United States,5615,40.762018,-82.513952,The Phoenix Brewing Company,4195222552,44902-1331,Ohio,131 N Diamond St,[],2018-08-24T15:45:10.239Z,http://www.phoenixbrewing.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,micro,Dayton,United States,5636,NaN,NaN,Warped Wing Brewing Co,9372227003,45402-2145,Ohio,26 Wyandot St,[],2018-08-11T21:39:06.759Z,http://www.warpedwing.com
25,micro,Nevada,United States,5640,NaN,NaN,White Shutter Winery and Brewery,4198352900,44849,Ohio,3794 County Hwy 56,[],2018-08-11T21:39:06.886Z,http://www.whiteshutterwinery.com
26,micro,Yellow Springs,United States,5648,NaN,NaN,Yellow Springs Brewery,9377670222,45387-2059,Ohio,305 N Walnut St Ste B,[],2018-08-11T21:39:07.182Z,http://www.yellowspringsbrewery.com
27,micro,Columbus,United States,5649,NaN,NaN,Zaftig Brewing Co.,6146362537,43229-1050,Ohio,7020 Huntley Rd Ste A,[],2018-08-11T21:39:07.221Z,http://www.drinkzaftig.com
33,micro,Akron,United States,5619,41.069853,-81.517885,Thirsty Dog Brewing Company,3302522739,44311-1184,Ohio,529 Grant St Ste 103,[],2018-08-24T15:45:11.684Z,http://www.thirstydog.com
34,micro,Cincinnati,United States,5620,39.110091,-84.509442,Three Points Urban Brewery,5135555555,45202-7307,Ohio,331 E 13th St,[],2018-08-24T15:45:12.146Z,http://www.3pointsbeer.com
37,micro,Newark,United States,5623,40.057228,-82.455644,Trek Brewing,,43055-1538,Ohio,1486 Granville Rd,[],2018-08-24T15:45:13.492Z,http://www.trekbeer.com
42,micro,Cincinnati,United States,5630,39.160783,-84.541963,Urban Artifact,,45223-2554,Ohio,1660 Blue Rock St,[],2018-08-24T15:45:17.010Z,http://www.artifactbeer.com
45,micro,Cincinnati,United States,5639,39.148902,-84.598433,West Side Brewing,5136612337,45211-5752,Ohio,3044 Harrison Ave,[],2018-08-24T15:45:20.433Z,http://www.westsidebrewing.com
46,micro,Cincinnati,United States,5641,39.207278,-84.474617,"Wiedemann Brewing Co, LLC",5138009560,45217-1217,Ohio,4811 Vine St,[],2018-08-24T15:45:21.541Z,http://www.wiedemannbeer.com
47,micro,Grand Rapids,United States,5642,41.412533,-83.867314,Wild Side Brewing Company,4193892776,43522,Ohio,24194 Front St,[],2018-08-24T15:45:22.079Z,http://www.wildsidebrewing.com
49,micro,Columbus,United States,5644,39.957759,-82.995180,Wolf's Ridge Brewing,6144293936,43215-2510,Ohio,215 N 4th St,[],2018-08-24T15:45:23.060Z,http://www.wolfsridgebrewing.com
0,micro,Cleveland,United States,5646,41.449930,-81.820461,Working Class Brewery,2164175112,44111-4028,Ohio,17448 Lorain Ave,[],2018-08-24T15:45:23.989Z,http://www.workingclassbrewery.com
1,micro,Zanesville,United States,5647,39.956034,-82.004230,Y Bridge Brewing Company,7408684265,43701,Ohio,1417 Linden Ave,[],2018-08-24T15:45:24.462Z,
49,micro,Palmer,United States,56,NaN,NaN,Bleeding Heart Brewery,7609172417,99645-6972,Alaska,1150 S Colony Way Ste 3 Pmb 618,[],2018-08-11T21:35:44.971Z,http://Facebook.com/BleedingHeartBrewery
0,micro,Wasilla,United States,83,NaN,NaN,"QUAKE! Brewing Company, LLC",4048340997,99654,Alaska,1540 N Shoreline Dr,[],2018-08-11T21:35:45.990Z,http://www.quakebrewingcompany.com
1,micro,Tempe,United States,130,NaN,NaN,Elevate Your Passion Brewing,8883972337,85281-7245,Arizona,2209 W 1st St # A107,[],2018-08-11T21:35:47.505Z,http://www.elevateyourpassion.com
2,micro,Chandler,United States,148,NaN,NaN,HOP Central Brewery and Taproom,6026971494,85226-6111,Arizona,5055 W Ray Rd Ste 2,[],2018-08-11T21:35:48.211Z,http://www.hopcentraltaproom.com
3,micro,Mesa,United States,153,NaN,NaN,Lochiel Brewing,4806660915,85209-2657,Arizona,7143 E Southern Ave Ste 131,[],2018-08-11T21:35:48.387Z,http://lochielbrewing.com
20,micro,Tucson,United States,109,32.223347,-110.967630,Borderlands Brewing Co,5202618773,85701-1210,Arizona,119 E Toole Ave,[],2018-08-23T23:21:25.596Z,http://www.borderlandsbrewing.com
23,micro,Tucson,United States,204,32.235677,-110.946585,The Address Brewing / 1702 Beer & Pizza,5203251702,85719-4515,Arizona,1702 E Speedway Blvd,[],2018-08-23T23:22:46.623Z,http://www.1702az.com
21,micro,Port Clinton,United States,5392,NaN,NaN,Catawba Island Brewing Company,4199607764,43452-1517,Ohio,2330 East Harbor Rd,[],2018-08-11T21:38:57.390Z,http://catawbaislandbrewing.com
22,micro,West Chester,United States,5412,NaN,NaN,DogBerry Brewing LLC,5138478208,45069,Ohio,9964 Crescent Park Dr,[],2018-08-11T21:38:58.020Z,http://www.dogberrybrewing.com
24,micro,Marengo,United States,5461,NaN,NaN,Hoof Hearted Brewing,5672333115,43334-9678,Ohio,300 County Road 26,[],2018-08-11T21:38:59.446Z,http://www.hoofheartedbrewing.com
25,micro,Sherrodsville,United States,5497,NaN,NaN,Main Sail Brewery / Atwood Yacht Club,3307352135,44675-9719,Ohio,2637 Lodge Rd SW,[],2018-08-11T21:39:00.824Z,http://www.atwoodyachtclub.com
26,micro,Loveland,United States,5523,NaN,NaN,Narrow Path Brewing Company,5133123414,45140-2902,Ohio,106 Karl Brown Way,[],2018-08-11T21:39:01.962Z,http://www.narrowpathbrewing.com
40,micro,Athens,United States,5411,39.348714,-82.095432,Devil's Kettle Brewing,7405897187,45701-1313,Ohio,97 Columbus Rd,[],2018-08-24T15:43:44.632Z,http://www.devilskettlebrewing.com
41,micro,Barberton,United States,5466,41.012866,-81.612680,"Ignite Brewing Company, Ltd.",3306966881,44203-2460,Ohio,600 W Tuscarawas Ave,[],2018-08-24T15:44:10.051Z,http://www.facebook.com/Ignitebrewingcompany
42,micro,Maria Stein,United States,5512,40.421448,-84.493127,Moeller Brew Barn,4199253005,45860-8706,Ohio,8016 Marion Dr,[],2018-08-24T15:44:30.369Z,http://www.moellerbrewbarn.com
43,micro,Avon,United States,5559,41.475462,-82.019537,Railroad Brewing Company,4407238234,44011-1206,Ohio,1010 Center Rd,[],2018-08-24T15:44:48.690Z,http://www.railroadbrewingcompany.com

### North

In [445]:
dat.loc[dat['latitude'] == dat['latitude'].max()]

,brewery_type,city,country,id,latitude,longitude,name,phone,postal_code,state,street,tag_list,updated_at,website_url
42,micro,Fox,United States,88,64.957086,-147.621976,Silver Gulch Brewing Co,9074522739,99712,Alaska,2195 Old Steese Highway,[],2018-08-23T23:21:07.021Z,http://www.silvergulch.com

### South

In [446]:
dat.loc[dat['latitude'] == dat['latitude'].min()]

,brewery_type,city,country,id,latitude,longitude,name,phone,postal_code,state,street,tag_list,updated_at,website_url
18,micro,Gulf Shores,United States,6,30.278051,-87.683039,Big Beach Brewing Company,2519482337,36542-3104,Alabama,300 E 24th Ave,[],2018-08-23T23:20:01.170Z,http://www.bigbeachbrewing.com

### East

In [447]:
dat.loc[dat['longitude'] == dat['longitude'].max()]

,brewery_type,city,country,id,latitude,longitude,name,phone,postal_code,state,street,tag_list,updated_at,website_url
6,micro,Columbiana,United States,5355,40.888487,-80.69353,BirdFish Brewing Co,3303339385,44408-1348,Ohio,16 S Main St,[],2018-08-24T15:43:26.570Z,http://www.birdfishbrew.com

### West

In [448]:
dat.loc[dat['longitude'] == dat['longitude'].min()]

,brewery_type,city,country,id,latitude,longitude,name,phone,postal_code,state,street,tag_list,updated_at,website_url
36,micro,Kodiak,United States,78,57.790083,-152.407155,"Kodiak Island Brewing Co, LLC",9074862537,99615-6580,Alaska,117 Lower Mill Bay Rd,[],2018-08-23T23:20:58.860Z,http://www.kodiakbrewery.com